h2 {

    text-align: center;
}

.dropdown {

    text-align: center;
    justify-content: center;
}


button {
    background-color: rgba(106, 252, 106, 0.63);
    height: 50px;
    box-shadow: none;
    border: none;
}